<!DOCTYPE html>
<html lang="ita" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista pizze</title>
  </head>

  <body>
    <main>
      <div class="my_container">
        <h1>Lista pizze</h1>
        <form method="POST">
          <input type="text" name="name" />
          <button type="submit">Filtra</button>
        </form>
      </div>
      <table th:unless="${pizzas.isEmpty()}">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Descrizione</th>
            <th>Img_Url</th>
            <th>Price</th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="pizza : ${pizzas}" th:object="${pizza}">
            <td scope="row">[[*{id}]]</td>
            <td>[[*{name}]]</td>
            <td>[[*{description}]]</td>
            <td>[[*{imgUrl}]]</td>
            <td>[[*{price}]] $</td>
            <td><a th:href="@{/pizzas/{id} (id=${pizza.id})}">Show</a></td>
          </tr>
        </tbody>
      </table>

      <div th:if="${pizzas.isEmpty()}">Non ci sono elementi nella tabella</div>
    </main>
  </body>
</html>
